/* General Style*/
body {
    padding-bottom: 0;
}

h2 {
    color: #F5DC64;
}

h3 {
    color: #F9BDC2;
}

section {
    background-color: #4577A8;
}

/* Navbar style */
main {
    padding: 0!important;
}
.navbar-nav>li {
    width: 33.3%;
}

/* Main content */
.m-content {
    padding: 0% 5%;
}



.row .col :nth-child(2) {
    --bs-rows: 2;
}

.col>ul {
    padding-top: 20% !important;
}

.col>ul>li {
    padding: 2%;
}

/* Photo and Web Coding section */
a>img {
    padding: 0%;
    transition-duration: .5s;
}

a>img:hover {
    opacity: 80%;
    transition-duration: .5s;
}

.pictures .row * {
    padding: 1%;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 992px) {
    main {
        padding-top: 0;
    }

    /* Navbar */
    .navbar,
    h1,
    .h1 {
        padding: 5% 0%  !important;
    }

    svg {
        width: 100% !important;
    }

    /* Content */
    .row-cols-3>* {
        width: 100%;
    }

    .col>ul {
        padding-top: 1vw !important;
    }
    main > div {
        max-width: 90%!important;
    }
    .p-5 {
        padding: 0!important;
    }
}