/* General Style*/

h2 {
    color: #F5DC64;
    padding: 7% 0;
}

h3 {
    color: #F9BDC2;
}

/* Main content */
.m-content {
    padding: 0% 5%;
}

.row .col :nth-child(2) {
    --bs-rows: 2;
}

.col>ul>li {
    padding: 2%;
}

/* Photo and Web Coding section */

a>picture:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

a>:hover {
    opacity: 80%;
    transition-duration: .5s;
}

picture > div {
    height: 100%;
}


/* Type Writter effect from: https://css-tricks.com/snippets/css/typewriter-effect/ */

.typewriter {
    height: 100%;
    border-right: 0.1em solid #F9BDC2; /* The typwriter cursor */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #F9BDC2; }
  }
  
/* Media queries for different screen sizes */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 5.3vw;
    }
}
@media screen and (max-width: 992px) {
    main {
        padding-top: 0;
    }

    /* Navbar */
    .navbar,
    h1,
    .h1 {
        padding: 5% 0%;
    }

    /* Content */

    .col>ul {
        padding-top: 1vw !important;
    }
    main > div {
        max-width: 90%!important;
    }
    .p-5 {
        padding: 0!important;
    }
    .roles {
        min-height: 13vw;
    }
}