html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
a,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-size: 2vw;
	min-height: 480px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End css resset */
/* Starts document styling */
/* General Body */
body {
	background-color: #4577A8;
	font-family: 'Nunito', sans-serif;
	font-size: 1.5vw;
	color: white;
	min-height: 480px;
	min-width: 320px;
}

main,
nav,
footer {
	padding: 2% 10%;
}

main {
	padding-top: 0;
	padding-bottom: 4%;
}

a {
	font-family: 'Roboto Condensed', sans-serif;
}


.nav-item>a,
h1,
h2,
h3,
h4 {
	font-family: 'Lato', sans-serif;
	padding: 5% 0;
	background-color: #4577A8;
}

h1,
.h1 {
	color: #F5DC64;
	font-size: 4vw;
}

h2,
.h2 {
	font-size: 3vw;
	color: #F9BDC2;
}

h3,
.h3 {
	font-size: 2.2vw;
	color: #F6D9BB;
}

/* Custom general style */
.w-15 {
	width: 15%;
}

.px-15 {
	padding: 0 15% !important;
}

.py-15 {
	padding: 15% 0 !important;
}

iframe {
	height: 32vw;
}

.hidden-content {
	display: none !important;
}

.width {
	width: 81vw;
	height: 100vw;
}
.t-relative {
	display: none!important;
}

/* Navbar */
.sticky-top {
	max-width: 100%;
}

.bg-light {
	background-color: #4577A8 !important;
}
.nav-item>a {
	padding: 2% 0;
}

.navbar-light .navbar-toggler {
	border-color: black;
}

.navbar-toggler-icon {
	width: 3vw;
	height: 3vw;
}

.navbar-nav>li {
	width: 25%;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 2vw;
	color: #F6D9BB;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #F9BDC2;
}

/* Nav links */
.navbar-nav>.btn-5,
.container-fluid {
	background-color: #4577A8;
}

.navbar-nav>.btn-5:hover {
	background: #4577A8;
}

.navbar-nav>.btn-5:before,
.navbar-nav>.btn-5:after {
	background: #F6D9BB;
}

/*Button template css from 'https://codepen.io/yuhomyan/pen/LYNVVNO' */
.button {
	z-index: -1;
}

.custom-btn {
	border: 2px solid #000;
	font-family: 'Lato', sans-serif;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

.btn-5 {
	background: #000;
	color: #4577A8;
	padding: 2%;
	border: none;
	background-color: #F6D9BB;
}

.btn-5:hover {
	background: #F5DC64;
}

.btn-5:before,
.btn-5:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #4577A8;
	transition: 400ms ease all;
}

.btn-5:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

/* Main content */
.bigbox {
	padding: 0 5%;
}

/* Availability table */
.table {
	color: white;
}

/* Footer */
footer {
	background-color: white;
	color: black;
}

.f-link {
	transition: 0.5s;
}

.f-link:hover {
	color: #F5DC64;
}

/* Social icons template css from 'https://codepen.io/vishalamipara/pen/ZEYZVvr' */
.social-icons {
	text-align: center;
}

.social-icons a {
	color: #4577A8;
	font-size: 2vw;
	width: 3vw;
	margin: 0 1vw;
	text-decoration: none;
}

.social-icons a i {
	font-size: 3vw;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}

.social-icons a:hover i {
	box-shadow: 0px 0px 150px #F5DC64;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.5);
	color: #F5DC64;
}

/* Media queries for differnt screen sizes */
@media screen and (max-width: 992px) {

	/* Navbar */
	.navbar,
	h1,
	.h1 {
		padding: 5.5% 0% !important;
		width: 100% !important;
	}


	.navbar {
		z-index: 1031;
		width: min-content !important;
		width: 3vw;
		height: 4vw;
		position: absolute !important;
	}

	.navbar-collapse>ul {
		transform: scale(1.5) translate(0%, 20%);
		background-color: #4577A8;
	}

	.navbar-nav>li {
		width: 100%;
	}

	.navbarbutton {
		background-color: rgba(0, 0, 0, 0.755) !important;
	}

	svg {
		width: 10% !important;
	}

	.navbar-nav>.btn-5 {
		background-color: transparent;
	}

	/* General style */
	h1,
	.h1 {
		padding: 5% 0 !important;
		left: 10% !important;
		font-size: 5vw;
	}

	h2,
	.h2 {
		font-size: 3.5vw;
	}

	h3,
	.h3 {
		font-size: 2.7vw;
	}

	body {
		font-size: 2vw;
	}

	.hidden-content {
		display: block !important;
	}

	.display-content {
		display: none !important;
	}

	.filter {
		filter: blur(8px);
		-webkit-filter: blur(8px);
	}

	/* Header */
	header {
		flex-direction: column;
	}

	.container .w-25 {
		width: 100% !important;
	}

	.grid-home {
		flex-direction: column;
	}

	/* Main Content */
	.bigbox {
		padding: 0 !important;
	}

	.sticky-top {
		max-width: 80.2%;
	}

	iframe {
		height: 50vw;
	}
}

@media screen and (max-width: 480px) {

	/* General */
	h1,
	.h1 {
		font-size: 6.5vw;
	}

	h2,
	.h2 {
		font-size: 5.8vw;
	}

	h3,
	.h3 {
		font-size: 4vw;
	}

	body {
		font-size: 3.5vw;
	}
}