html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
a,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	font-size: 2vw;
	min-height: 480px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End css resset */
/* Starts document styling */
/* Colors */
.bg-blue-2 {
	background-color: #1C3C5C;
}
/* General Body */
body {
	background-color: #4577A8;
	font-family: 'Nunito', sans-serif;
	font-size: 1.5vw;
	color: white;
	min-height: 480px;
	min-width: 320px;
}

main,
nav,
footer>.footer-container {
	padding: 2% 10vw;
}

main {
	padding-top: 0;
	padding-bottom: 4%;
	transition: ease-in 0.2s;
}

a {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 3.5vw;
	transition: ease-out 0.2s;
}

a:hover {
	transform: scale(1.05);
}

.nav-item>a,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
picture {
	font-family: 'Lato', sans-serif;
	padding: 3vw 0;
	font-weight: bold;
}
a:hover {
	color: #F5DC64;
	transition: 0.2s;
}

h1,
.h1 {
	color: #F5DC64;
	font-size: 4vw;
	background-color: #4577A8;
}

h2,
.h2 {
	font-size: 3vw;
	color: #F9BDC2;
}

h3,
.h3 {
	font-size: 2.2vw;
	color: #F6D9BB;
}

h4,
.h4 {
	font-size: 2vw;
}

/* Custom general style */
.z-index-1 {
	z-index: -1;
}
.w-15 {
	width: 15%;
}

.px-15 {
	padding: 0 15% !important;
}

.py-15 {
	padding: 15% 0 !important;
}

iframe {
	height: 32vw;
}

.show {
	display: block;
}

.collapse:not(.show) {
	display: none;
}

.width {
	height: 100vh;
	padding-top: 5.5vw!important;
}

.height {
	height: 100%;
}

.background-color-primary {
	background-color: #4577A8;
}

.blur {
	filter: blur(60px);
	-webkit-filter: blur(60px);
}

/* Navbar */
#navbarSupportedContent {
	transition: 0s;
}

.sticky-top>.container {
	max-width: 80%;
}

.dropdown-menu {
	transform: translate(0, 0);
}

.nav-item>a {
	padding: 2% 0;
}

.navbar-toggler-icon {
	width: 3vw;
	height: 3vw;
}

.navbar-nav>li {
	width: 25%;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 2vw;
	color: #F6D9BB;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #F9BDC2;
}

/* Nav links */
.sticky-top, .navbar-nav>.btn-5,
.container-fluid,
.navbar-nav>.btn-5:hover {
	background-color: #1C3C5C;
}

.navbar-nav>.btn-5:before,
.navbar-nav>.btn-5:after {
	background-color: #F6D9BB;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
	background-color: #6c92b8;
}

/*Button template css from 'https://codepen.io/yuhomyan/pen/LYNVVNO' */
.button {
	z-index: -1;
}

.custom-btn {
	border: 2px solid #000;
	font-family: 'Lato', sans-serif;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

.btn-5 {
	background: #000;
	color: #4577A8;
	padding: 2%;
	border: none;
	background-color: #F6D9BB;
}

.btn-5:hover {
	background: #F5DC64;
	color: #4577A8;
}

.btn-5:before,
.btn-5:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #4577A8;
	transition: 400ms ease all;
}

.btn-5:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

/* Main content */
.bigbox {
	padding: 0 5vw;
}

/* Availability table */
.table {
	color: white;
}

/* Footer */
footer>.footer-container {
	max-width: 100%;
}

.f-link {
	transition: 0.5s;
}

a :hover, .f-link:hover {
	color: #F5DC64;
}

/* Social icons template css from 'https://codepen.io/vishalamipara/pen/ZEYZVvr' */
.social-icons {
	text-align: center;
}

.social-icons a {
	color: #4577A8;
	font-size: 2vw;
	margin: 0 1vw;
	text-decoration: none;
}

.social-icons a i {
	font-size: 3vw;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}

.social-icons a:hover i {
	box-shadow: 0px 0px 150px #F5DC64;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.5);
	transition: all 200ms ease-in;
	transform: scale(1.5);
	color: #F5DC64;
}

/* Media queries for differnt screen sizes */
@media screen and (max-width: 992px) {

	/* Navbar */

	.bg-tblack {
		background-color: rgba(0, 0, 0, 0.418);
		transition: ease-out 0.2s;
	}

	.navbar {
		padding: 5.5vw 0% !important;
		width: 100% !important;
	}

	.navbar {
		z-index: 1031;
		width: min-content !important;
		width: 3vw;
		height: 4vw;
		position: absolute !important;
	}
	.navbar-toggler {
		margin-right: 100%;
	}
	.nav-item>a {
		background-color: transparent;
	}

	.navbar-nav>li {
		width: 100%;
		padding: 4% 0%;
	}

	.navbarbutton {
		background-color: rgba(0, 0, 0, 0.755) !important;
	}

	.navbar-nav>.btn-5:hover {
		background-color: #4577a800;
	}

	.navbar-nav>.btn-5 {
		background-color: transparent;
	}

	.navbar-light .navbar-nav .nav-link {
		font-size: 4vw;
	}

	svg {
		width: 15%;
	}

	.custom-container {
		padding-top: 6vw;
	}

	.container-fluid {
		background-color: transparent;
	}

	/* General style */
	h1,
	.h1 {
		padding: 5vw 0 !important;
		text-align: center;
		font-size: 5vw;
	}

	h2,
	.h2 {
		text-align: center;
		font-size: 3.5vw;
	}

	h3,
	.h3 {
		text-align: center;
		font-size: 2.7vw;
	}

	h4,
	.h4 {
		text-align: center;
		font-size: 2vw;
	}
	body {
		text-align: center;
		font-size: 2vw;
	}

	.d-none {
		display: block !important;
	}

	.display-content {
		display: none !important;
	}

	.filter {
		filter: blur(8px);
		-webkit-filter: blur(8px);
	}

	/* Header */
	header {
		flex-direction: column;
	}

	.container .w-25 {
		width: 100% !important;
	}

	.sticky-title {
		position: absolute;
		top: 0;
		z-index: -1;
	}

	.grid-home {
		flex-direction: column;
	}
	/* Button Header */
	.hc-btn {
		width: 100%;
	}
	/* Main Content */
	.bigbox {
		padding: 0 !important;
	}


	iframe {
		height: 50vw;
	}

	/* Multimedia Content */
	.px-15 {
		padding: 0!important;
	}

}

@media screen and (max-width: 480px) {

	/* General */
	h1,
	.h1 {
		font-size: 6.5vw;
	}

	h2,
	.h2 {
		font-size: 5.8vw;
	}

	h3,
	.h3 {
		font-size: 4vw;
	}

	h4,
	.h4 {
		font-size: 3.5vw;
	}
	body {
		font-size: 3.5vw;
	}

	/* Nav */
	.navbar-light .navbar-nav .nav-link {
		font-size: 7vw;
	}

	.svg {
		width: 25%;
	}

	.custom-container {
		padding-top: 25vw;
	}

	.icon-container {
		margin-left: 0 !important;
	}

	.social-icons a i {
		font-size: 7vw;
	}
	.navbar-toggler {
		padding: 0 2vw
	}
}