article {
    border-top: solid 0.3vw white;
}
article:first-child {
    border-top: none;
}
table > * {
    border: none !important;
}
.display-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}
.display-vertical {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* Media queries for different screen sizes */
@media screen and (max-width: 992px) {
    .availability {
        flex-direction: column!important;
    }
    .availability>* {
        width: 100% !important;
    }
    .display-images {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 480px) {
    iframe {
        height: 80vw;
    }
}