/* Specific Style for Portfolio page */
.vp-img {
    padding: 0 1.5%;
}

/* Carousel Styel */
.d-hidden {
    display: none;
}

.carousel-section {
    padding: 10vh;
}
.carousel-return {
    transform: translateY(-2.5vw);
}
.carousel-return:hover {
    cursor: pointer;
}
.current-slide,
.carousel>button,
.carousel-section {
    z-index: 1021;
    transition: 1s ease-in;
}

.carousel-container,
.carousel-return,
.carousel-nav {
    width: calc(100vw - 20vh);
}

.carousel-slides-container,
.carousel-indicator {
    transition: transform 0.2s ease-in;
    height: 100%;
}

/* Caraousel Button */
.carousel {
    height: 80vh;
}

.carousel-btn>img {
    transform: rotate(90deg);
}

.carousel-btn .next {
    transform: rotate(270deg);
}

.carousel-indicator {
    height: 1vw;
}

.current-btn {
    transform: scale(1.5);
    background-color: black;
}

/* Carousel Images */
.carousel-img {
    object-fit: cover;
}

@media screen and (max-width: 992px) {
    .vp-img {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    div>picture {
        transition: 0.2s;
    }

    div>picture:hover {
        transform: scale(1.05);
        transition: 0.2s;
        cursor: pointer;
    }
}