/* Specific Style for About */
.button>a>span:hover {
    color: inherit;
}
/* Media queries for different screen sizes */
@media screen and (max-width: 992px) {
    .portrait {
        width: 100%!important;       
    }
    h2,p {
        text-align: center;
    }
    .button {
        justify-content: center!important;
    }
    /* Fotter */

}
@media screen and (max-width: 375px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}